header {
    background-color: #77c9d4;
    width: 100%;
    height: 50px;
    text-align: center;
}
nav {
    background-color: #cc527a;
    width: 100%;
    height: 25px;
    text-align: center;
}
article {
    background-color: #015249;
    float: left;
    width: 35%;
    height: 900px;
}
aside {
    background-color: #57bc90;
    float: left;
    width: 65%;
    height: 900px;
}
footer  {
    background-color: #363636;
    width: 100%;
    height: 50px;
    clear: both;
    color: white;
    text-align: center;
}
a {
    padding: 25px;
    text-decoration: none;
    color: aqua;
}
.pictures {

}
body {
    background-color: cornflowerblue;
}